* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 3rem auto;
    width: 75%;
    height: 100vh;
}

.navbar {
    background: skyblue;
    width: 100%;
    padding: 1rem;
}

.navbar h2 {
    margin-bottom: 0.5rem;
}

.title {
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.3rem 1rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #000;
    background: skyblue;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #333;
    color: #fff;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.repo-card {
    width: 100%;
    display: inline-block;
    margin: 0.5rem auto;
    border: 1px lightgray solid;
}

.date {
    margin-left: 1rem;
    margin-right: 1rem; 
}

.repo-card-title {
    margin: 0.5rem 0 0 0.5rem;
}

.repo-card-content {
    display: flex;
    justify-content: space-between;
}

.repo-card-stars {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.repo-card-link {
    margin: 0 0 0.5rem 0.5rem;
}